.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.bg-orange {
    background-color: #FFC000;
}

.bg-red {
    background-color: red;
}

.row {
    overflow: hidden;
    margin: auto;
    word-wrap: break-word;
}

.text-italic {
    font-style: italic;
}

.warning .row {
    width: 65%;
}

.time-remain .row {
    width: 80%;
    white-space: nowrap;
}

.time-remain, .warning {
    padding-bottom: 30px;
}

body {
    font-family: 'Times New Roman', Georgia, Serif;
    font-size: 120%;
}

.title {
    text-align: center;
    font-style: bold;
}

[class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    text-align: center;
}

.col-26 {
    -ms-flex: 0 0 calc(100%/26);
    flex: 0 0 calc(100%/26);
    max-width: calc(100%/26);
    background-color: gray;
    position: relative;
    width: 100%;
    min-height: 50px;
    overflow: visible;
}

.text-danger {
    font-size: 120%;
}

.container-fluid {
    border: thick double #F4B083;
    background-color: #FFF2CC;
    padding: 0 15px;
}

.subtitle {
    font-weight: bold;
}

ul {
    list-style: none;
    list-style-position: outside;
}

li span{
    position: relative;
    left: 25px;
}
ul li:before {
    content: '✓';
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table td:nth-child(2) {
    width: 140px;
}

.text {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.bg-gray {
    background-color: gray !important;
}

.bg-red {
    background-color: red !important;
}

.border-gray {
    border: 1px solid gray !important;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.inforStudent {
    display: flex;
}

.inforStudent p:first-child {
    padding-right: 80px; 
}